@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100;400;500;700&display=swap');
* {
    text-decoration: none;
    margin: 0px;
    padding:0px;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%; 
    height: auto;
}


/* <-- NAVBAR --> */
    /* Navbar Container */
   
    nav {
        background-color: #461973;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
    }
    
    .logo-container {
        display: flex;
        align-items: center;
    }
    
    nav img {
        height: 50px;
        margin-right: 20px;
    }
    
    .logo-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .logo-text h2 {
        margin: 0;
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    
    .logo-text p {
        margin: 0;
        font-size: 0.8em;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    
    nav ul li {
        margin-right: 40px;
    }
    
    nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
    
    .search-bar {
        display: flex;
        align-items: center;
    }
    
    .search-bar input {
        margin-right: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .search-bar i {
        color: #461973;
        cursor: pointer;
    }
    
/* <-- Container --> */
        .container {
            max-width: 800px;
            margin: 20px auto;
        }

        /* Image */
        img {
            max-width: 100%;
            height: auto;
            max-height:100vh;
        }

        .container-flex {
            display: flex;
            align-items: center;
        }
        
        /* Gambar IT DEL */
        .it-del {
            max-width: 50px;
            margin-right: 10px; 
        }
  
/*PRODI */

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.faculty-container {
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
}

.program-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

p {
    margin: 0;
    font-size: 13px;
    text-align: center;
    margin-left: 1.35rem;
}

.pc1,
.pc2,
.pc3 {
    position: relative;
    top: 19px;
}

.program-card {
    width: 100%; /* Adjust the width as needed */
    max-width: 320px;
    height: 32rem;
    margin: 0 10px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    flex: 1;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
}
.program-card + .program-card {
    margin-top: 20px; /* Adjust the margin as needed */
}
.program-card p {
    text-align: justify; 
    line-height: 1.5;
}

.program-card:hover {
    transform: scale(1.05);
}

.program-card img {
    width: 100%;
    max-width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    display: block; /* Make the image a block element */
    margin: auto; /* Center the image horizontally */
}


h3 {
    margin: 0;
    position: relative;
    color: #333;
    padding: 15px;
}

h3 + p {
    margin-top: 0.5rem;
    max-width: 17.5rem;
}

h1 {
    font-size: 1.5em;
    background-color: #441868;
    color: #fff;
    border-radius: 8px 8px 0 0;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.1rem;
    text-align: center;
}


/* <-- FOOTER --> */
footer {
    background-color: #441868;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-content p {
    color: #d3dde6;
  }
  
  .contact-info,
  .social-media,
  .social-media i {
    flex: 1;
    padding: 0 20px;
    text-align: start;
    color: #d3dde6;
  }
  
  .contact-info p,
  .social-media p {
    text-align: start;
    margin: 5px 0;
  }
  
  .contact-info a {
    color: #d3dde6;
    text-decoration:dashed;
  }
  

  .social-media a {
    color: #d3dde6;
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }
  
  .social-media i {
    margin-right: 5px;
  }


.logo-footer img {
    width: 40px; /* Sesuaikan ukuran sesuai kebutuhan */
    margin-left: 10px; /* Sesuaikan margin sesuai kebutuhan */
}

.logo-footer {
    margin-top: 20px;
    display: flex;
    left: 31rem;
    position: relative;
  }

.logo-container img {
    width: 40px; /* Sesuaikan ukuran sesuai kebutuhan */
    margin-left: 10px; /* Sesuaikan margin sesuai kebutuhan */
}

.logo-container {
    margin-top: 20px;
    display: flex;
  }

  

  /* konten */
  .about-itdel {
    text-align: center;
}

.about-itdel img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.product-stats {
    margin-top: 50px;
}

.icon-box {
    text-align: center;
}

.icon-box i {
    color: #007bff; /* Ubah warna ikon sesuai keinginan Anda */
}

.icon-box h4 {
    margin-top: 20px;
}